<!-- 
    <nav class="navbar  ">
  <div class="columns">
<div class="column is-7 is-offset-1">

    <div id="mobile-nav" class="navbar-menu">
      <div class="navbar-end ">
        <div class="navbar-item">
          <a class="navbar-item" href="index.html">
            Inicio
          </a>
        </div>
        <div class="navbar-item">
          <a class="navbar-item" href="index.html">
            Promociones
          </a>
        </div>
        <div class="navbar-item">
          <a class="navbar-item" href="index.html">
            Nosotros
          </a>
        </div>
        <div class="navbar-item">
            <a class="navbar-item" href="index.html">
              Redes Sociales
            </a>
        </div>                
        <div class="navbar-item">
          <a class="navbar-item" href="index.html">
            Servicios
          </a>
        </div>
        </div>
      </div>
    </div>
</div>
</nav> -->
<div class="box">
<nav class="navbar" role="navigation" aria-label="main navigation" style=" height: 50px;">

  <div class="navbar-brand">
      <!-- <a href="/" style="position: absolute; left: 50%; margin-left: -100px; margin-top: 0; padding: 0; height: 100%; display: flex; align-items: center;">
          <img src="./static/img/prism.png" style="width: 200px; max-height: none;">
      </a> -->
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
      </a>
  </div>
  
  <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
          <a class="navbar-item" href="/">HOME</a>
          <a class="navbar-item" href="/about">APPLY</a>
      </div>
      <div class="navbar-end">
          <a class="navbar-item" href="/">TEAM</a>
          <a class="navbar-item" href="/about">CONTACT</a>
      </div>
  
  </div>
  </nav>
</div>
