<!DOCTYPE html>
<html>
    <head>
      <title>Index</title>
      <meta charset="utf-8"/>
      <link rel="stylessheet" href="app.component.css" />
    </head>
    <body>
      <div id="container">
        <app-encabezado></app-encabezado>
       
        <app-nav-bar-pred></app-nav-bar-pred>
        <hr/>

        <app-infografias></app-infografias>

        <hr/>
      
        <app-articulo></app-articulo>
        <app-articulo></app-articulo>
        <app-articulo></app-articulo>
        <app-articulo></app-articulo>

        <hr/>

        <app-footer></app-footer>
      </div>
    
    </body>
</html>