<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact Form - Free Bulma template</title>
	<link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
	<!-- Bulma Version 0.8.x-->
	<link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="header.component.css">
</head>
<!-- START NAV -->

<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <img src="../images/bulma.png" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">

                <a href="" class="navbar-item is-active">CARRITO</a>
                <!-- <a class="navbar-item">Examples</a>
                <a class="navbar-item">Features</a>
                <a class="navbar-item">Team</a>
                <a class="navbar-item">Archives</a>
                <a class="navbar-item">Help</a> -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">CUENTA</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">INICIAR SESIÓN</a>
                        <a class="navbar-item">REGISTRARSE</a>
                        <!-- <a class="navbar-item">Settings</a>
                        <hr class="navbar-divider">
                        <div class="navbar-item">Logout</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- END NAV -->    
<!--   INICIA HERO -->
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          INICIO
        </h1>
  <!--       <h2 class="subtitle">
          Primary bold subtitle
        </h2> -->
      </div>
    </div>
  </section>
  <!--   TERMINA HERO -->
  <!--   INICIA SEGUNDA NAV BAR -->
  <nav class="navbar">
          <div class="container">
              <div class="navbar-brand">
  <!-- 				<a class="navbar-item" href="../">
                      <img src="../images/bulma.png" alt="Logo">
                  </a> -->
                  <span class="navbar-burger hotdog" data-target="navbarMenu2">
                      <span></span>
                      <span></span>
                      <span></span>
                  </span>
              </div>
              <div id="navbarMenu2" class="navbar-menu">
                  <div class="navbar-start">
                      <a class="navbar-item is-active"></a>
                      <a href="inicio/inicio.component.html" class="navbar-item">INICIO</a>
                      <a class="navbar-item">PAQUETES</a>
                      <a class="navbar-item">CONTACTO</a>
                      <a class="navbar-item">QUIENES SOMOS</a>
                      <!-- <a class="navbar-item">Help</a>
                      <div class="navbar-item has-dropdown is-hoverable">
                          <a class="navbar-link">Account</a>
                          <div class="navbar-dropdown">
                              <a class="navbar-item">Dashboard</a>
                              <a class="navbar-item">Profile</a>
                              <a class="navbar-item">Settings</a>
                              <hr class="navbar-divider">
                              <div class="navbar-item">Logout</div>
                          </div>
                      </div> -->
                  </div>
              </div>
        
          </div>
      </nav>
    <hr/>
  <!--   TERMINA SEGUNDA NAV BAR -->
  