<footer class="footer">
  <div class="container content has-tetx-centered">
  <div class="columns is-multiline  is-desktop ">
    <div class="column is-6">
    <app-nav-bar-pred></app-nav-bar-pred>
  <br/>
   
    <section id="partners">
      <div class="container has-text-centered">
      <h2>Partners</h2>
      <h3>Contamos con marcas como:</h3>
      <ul>
        <li>
        <a href="index.html">
          Marca1
        </a>
      </li>
      <li>
        <a href="index.html">
          Marca2
        </a>
      </li>
      <li>
        <a href="index.html">
          Marca3
        </a>
      </li>
      <li>
        <a href="index.html">
          Marca4
        </a>
      </li>
      </ul>
    </div>
    </section> 
  </div>
    <div class="column is-offset-one-quarter">
    <app-mi-contacto></app-mi-contacto>
</div>
</div>
</div>
  </footer>

