<hr>
<br>
<br>
<br>
<link rel="stylesheet" href="lo-mas-nuevo.component.css">
<section class="articles">
<div class="column is-8 is-offset-2">
<div class="media-content has-text-centered">
 <p class="title article-title">LO MAS NUEVO</p>

<div class='carousel is-5 carousel-animated carousel-animate-slide'>
<div class='carousel-container'>
<div class='carousel-item is-active'>
<figure class="image is-2by1"><img src="https://images.pexels.com/photos/2080436/pexels-photo-2080436.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></figure>
</div>
<div class='carousel-item'>
<figure class="image is-2by1"><img src="https://images.pexels.com/photos/3576109/pexels-photo-3576109.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></figure>
</div>
<div class='carousel-item'>
<figure class="image is-2by1"><img src="https://images.pexels.com/photos/1018141/pexels-photo-1018141.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></figure>
</div>
<div class='carousel-item'>
<figure class="image is-2by1"><img src="https://bulma.io/images/placeholders/640x320.png"></figure>
</div>
<div class='carousel-item'>
<figure class="image is-2by1"><img src="https://bulma.io/images/placeholders/640x320.png"></figure>
</div>
<div class='carousel-item'>
<figure class="image is-2by1"><img src="https://bulma.io/images/placeholders/640x320.png"></figure>
</div>
<div class='carousel-item'>
<figure class="image is-2by1"><img src="https://images.pexels.com/photos/1187078/pexels-photo-1187078.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></figure>
</div>
</div>
<div class="carousel-navigation is-centered">
<div class="carousel-nav-left">
<i class="fas fa-chevron-left" aria-hidden="true"></i>
</div>
<div class="carousel-nav-right">
<i class="fas fa-chevron-right" aria-hidden="true"></i>
</div>
</div>
</div>
<script src='https://use.fontawesome.com/releases/v5.0.0/js/all.js'></script>
<!--               termina carrusel -->
