
<footer>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <hr>
<div class="columns">
    <div class="column is-four-fifths"><app-contacto></app-contacto></div>
    <div class="column">

        <div class="content">
            <p class="title article-title">CONTAMOS CON MARCAS COMO:</p>
            <ul>
              <li><a href="index.html">marca 1</a></li>
              <li><a href="index.html">marca 2</a></li>
              <li><a href="index.html">marca 3</a></li>
            </ul>
    </div>
  </div>
  </div>
  </div>
  </div>
</section>
</footer>